@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
body {background-color: #f6f6f6;padding-bottom:60px;font-family: 'Raleway', sans-serif;}
.margin-left-xs{margin-left:3px;}.margin-right-xs{margin-right:3px;}.margin-top-xs{margin-top:3px;}.margin-bottom-xs{margin-bottom:3px;}
.margin-left-sm{margin-left:5px;}.margin-right-sm{margin-right:5px;}.margin-top-sm{margin-top:5px;}.margin-bottom-sm{margin-bottom:5px;}
.margin-left-md{margin-left:10px;}.margin-right-md{margin-right:10px;}.margin-top-md{margin-top:10px;}.margin-bottom-md{margin-bottom:10px;}
.margin-left-lg{margin-left:15px;}.margin-right-lg{margin-right:15px;}.margin-top-lg{margin-top:15px;}.margin-bottom-lg{margin-bottom:15px;}
.margin-left-xl{margin-left:20px;}.margin-right-xl{margin-right:20px;}.margin-top-xl{margin-top:20px;}.margin-bottom-xl{margin-bottom:20px;}
.margin-left-xxl{margin-left:25px;}.margin-right-xxl{margin-right:25px;}.margin-top-xxl{margin-top:25px;}.margin-bottom-xxl{margin-bottom:25px;}
.no-margin-top{margin-top:0;}.no-margin-bottom{margin-bottom:0;}.no-margin-top-bottom{margin-top:0;margin-bottom:0;}
.padding-left-xs{padding-left:2px;}.padding-right-xs{padding-right:2px;}.padding-top-xs{padding-top:2px;}.padding-bottom-xs{padding-bottom:2px;}
.padding-left-sm{padding-left:5px;}.padding-right-sm{padding-right:5px;}.padding-top-sm{padding-top:5px;}.padding-bottom-sm{padding-bottom:5px;}
.padding-left-mmd{padding-left:7px;}.padding-right-mmd{padding-right:7px;}.padding-top-mmd{padding-top:7px;}.padding-bottom-mmd{padding-bottom:7px;}
.padding-left-md{padding-left:10px;}.padding-right-md{padding-right:10px;}.padding-top-md{padding-top:10px;}.padding-bottom-md{padding-bottom:10px;}
.padding-left-lg{padding-left:15px;}.padding-right-lg{padding-right:15px;}.padding-top-lg{padding-top:15px;}.padding-bottom-lg{padding-bottom:15px;}
.padding-left-xl{padding-left:20px;}.padding-right-xl{padding-right:20px;}.padding-top-xl{padding-top:20px;}.padding-bottom-xl{padding-bottom:20px;}
.padding-left-xxl{padding-left:25px;}.padding-right-xxl{padding-right:25px;}.padding-top-xxl{padding-top:25px;}.padding-bottom-xxl{padding-bottom:25px;}
.padding-left-right-phone{padding-left:16px;padding-right:16px;}
.padding-round-xs{padding:2px;}.padding-round-sm{padding:5px;}.padding-round-md{padding:10px;}.padding-round-lg{padding:15px;}
.padding-round-xl{padding:20px;}.padding-round-xxl{padding:25px;}.padding-round-xxxl{padding:30px;}
.no-padding-top{padding-top:0;}.no-padding-bottom{padding-bottom:0;}.no-padding-top-bottom{padding-top:0;padding-bottom:0;}.margin-round-xs{margin:2px;}.margin-round-sm{margin:5px;}.margin-round-md{margin:10px;}.margin-round-lg{margin:15px;}
.margin-round-xl{margin:20px;}.margin-round-xxl{margin:25px;}.margin-round-xxxl{margin:30px;}
.bg-white{background-color:#ffffff;}.bg-gray{background-color:#565656;}
.text-white{color:#fff;}.text-black{color:#000;}
.border-radius-xs{-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.border-radius-sm{-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.border-radius-md{-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
.border-radius-lg{-moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px;border-radius:15px;}
.no-border-right{border-right:none!important;}.no-border-left{border-left:none!important;}
.no-border-top{border-top:none!important;}.no-border-bottom{border-bottom:none!important;}
.no-padding-right{padding-right:none!important;}.no-padding-left{padding-left:none!important;}
.no-padding-top{padding-top:none!important;}.no-padding-bottom{padding-bottom:none!important;}
.text-xs{font-size:12px;}.text-sm{font-size:14px;}.text-md{font-size:15px;}
.text-xxl{font-size:30px;}.text-lg{font-size:18px;}
/* Header Image Section */
.bold{font-weight:bold}
.navbar-nav>.user-menu .user-image{float:left;width:25px;height:25px;border-radius:50%;margin-right:10px;margin-top:-2px}
.img-header{width:120px;margin-left:30px;margin-right:30px;}
.dashboard-panel,.main-panel{background-color: #ffffff;border:1px solid #D3E0E9;border-radius:3px;}.dashboard-panel{padding:20px 40px;}.main-panel{padding:0 30px 20px 30px;}
.page-heading{padding-bottom:10px;}
.page-heading hr{width:20%;border-color:#3189C8;margin:5px auto}
.page-header{margin:0px}
.page-header-text{margin:0px}.page-header-text small{color:#9a9a9a;font-size:14px;}
.text-header{color:#008ED6;}
.section{margin:10px 0;}.section-footer{padding:15px 0 20px 0;}
.hr-class{width:60%;border-color:#ededed;margin:5px auto 15px auto;}
.group-caption{padding:15px 0;}
.main-text{font-size:25px;}.sub-text{font-size:35px;}.sub-text sup{font-size:10px;}
.border-right{border-right:1px solid #ededed;}
a.no-underline{text-decoration:none;}
.active{background-color:#D4FFD4;}
.inactive{background-color:#FFFFE1;}
.suspended{background-color:#FFE5FF;}
.monthly-amount{font-size:30px;margin:0;padding:0;}.monthly-amount small{font-size:12px;}
.input-group-addon{background-color:rgb(255, 255, 255);}
.option-space option{padding-left:15px;}
@media (max-width:767px) {
    nav{text-align:center;}
    .left-border-no-xs{border:none;}
    .remove_current_option{font-size:35px;line-height:150px;}
    .navbar-nav>.user-menu .user-image{float:none;margin-right:0;margin-top:-8px;line-height:10px}
    .dashboard-panel{padding:15px;}
    .panel-heading{padding-bottom:-10px;}
    .position-right{padding-top:10px;}.help-text{padding:3px;}.position-right label{margin: 0 auto;}
    .no-margin-padding{margin-top:-15px;}
}
@media (min-width:768px) {
    .left-border-no-xs{border-left:1px solid #dedede;}
    .remove_current_option{font-size:35px;line-height:60px;}
    .margin-left-xxxl{margin-left:35px;}.margin-right-xxxl{margin-right:35px;}.margin-top-xxxl{margin-top:35px;}.margin-bottom-xxxl{margin-bottom:35px;}
    .no-bottom-margin{margin-bottom:0!important;}
    .panel-heading-with-position{position:relative;}
    .position-right{position:absolute;top:10px;right:15px;}
    .same-height{min-height:222px;}
}
/* JQUery UI related */
div.ui-datepicker{font-size:15px;z-index:10000!important;}
.ui-tooltip-content{font-size:10pt;font-family:Calibri;}
/*End JQuery UI */
.panel-heading{border-bottom:none;padding-top:15px;padding-bottom:15px;}
.help-text{color:#9a9a9a;font-size:10px;}
.flex-center{display:flex;justify-content:center;align-items:center;align-content:center;flex-flow:row nowrap;}
.main-area{min-height:407px;}
.no-underline{text-decoration:none!important;}
.countingdown{width:100%;min-width:100%;max-width:100%;}
.countingdown{height:60px;max-height:60px;min-height:60px;}
.add-user-details{height:120px;max-height:120px;min-height:120px;}
.invite-heading{margin-top:-10px;}
.text_input{padding-right:15px!important;}
.add-more-contain{padding:0 0 10px 5px;}.back-to-single{padding:10px 5px;}
.bordered{border:1px solid #dedede;}
.border-left{border-left:1px solid #dedede;}
.text-black{color:#000;}.text-gray{color:#565656;}
.team-heading{margin-bottom:3px;}.text-small{margin:0 0 10px 0;padding:0;font-size:12px;}
.tab-pane{background-color:#fff;}
.form-control{height:34px;}
.modal-loading{display:none;position:fixed;z-index:1000;top:0;left:0;height:100%;width:100%;background: rgba( 255, 255, 255, .5 ) url('../images/ajax-loader.gif') 50% 50% no-repeat;}
/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading{overflow: hidden;}
/* Anytime the body has the loading class, our modal element will be visible */
body.loading .modal-loading{display: block;}
.info{background-color:#2F6C8A;}
/** Notifications Bar **/
.notifications{min-width:320px;}
.notifications-wrapper{overflow:auto;max-height:250px;}
.menu-title{color: #ffffff;font-size: 13px;display:inline-block;font-weight:bold;}
.item-title{font-size: 1.3rem;color:#000;font-weight:bold;margin:5px 0px;}
.notifications a.content{text-decoration:none;display:block;color:#000;}
.notification-item{position: relative;padding: 10px;padding-left:40px;padding-bottom:0px;}
.dropdown-menu .divider{height: 1px;margin: 5px 0;overflow: hidden;background-color: #e5e5e5;}
ul.dropdown-menu.notifications .notifications-wrapper a.content{padding: 0px!important;background: rgba(0, 0, 0, 0.04);border-bottom: 1px solid #d1d1d1;}
ul.dropdown-menu.notifications .notifications-wrapper a.content:hover{color: #000;background: rgba(0, 0, 0, 0.1);}
.login-nav ul.nav.navbar-nav.navbar-right li a{display:block;}
.notifications a.content{text-decoration:none;display:block;}
.notification-heading{background: #2F6C8A;padding:3px 10px;}
/** Centralize Modals **/
.vertical-alignment-helper{display:table;height:100%;width:100%;pointer-events:none;}
.vertical-align-center {/* To center vertically */display:table-cell;vertical-align:middle;pointer-events:none;}
/** Style Alert Modal - Pusher-Looking Modal**/
.alert p{padding-left:100px!important;font-weight:bold;}
.text-centered{text-align:center!important;}
.modal-content{/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
width:inherit;height:inherit;/* To center horizontally */margin:0 auto;pointer-events:all;}
.country-select{width:20%;height:32px;border:1px solid#CCD0D2;border-right:none;border-radius: 3px;border-top-right-radius:none;border-bottom-right-radius:none;overflow:hidden;margin-right:20px;background:96% / 20% no-repeat transparent;}
.country-select .btn{width:140%;padding-left:2px;padding-right:0;text-align:left;background:transparent;border:none;font-size: 16px;height:32px;}
.country-select .btn option{padding-left:10px;text-align:left;}
.height-50{min-height:150px;width:150px;}
.bg-received{background-color:#7FFF7F;color:#000;}
.bg-received .bold{position:absolute;min-width:150px;bottom:0;left:50%;margin-left:-75px;background-color:#7FFF7F;}
.bg-current{background-color:#7FAAFF;color:#000;}
.bg-current .bold{position:absolute;min-width:150px;bottom:0;left:50%;margin-left:-75px;background-color:#7FAAFF;}
.bg-waiting{background-color:#d2d2d2;color:#000;}
.bg-waiting .bold{position:absolute;min-width:150px;bottom:0;left:50%;margin-left:-75px;background-color:#d2d2d2;}
.color-received{background-color:#7fff7f;}
.color-current{background-color:#7FAAFF;}
.color-waiting{background-color:#a3a3a3;}
.relative{position:relative;}.absolute{position:absolute;}
.inline-block{display:inline-block;}
.half-width{width:50%;}